In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
female_sole_pro = pd.read_csv('../data/Share_of_female_sole_proprietors.csv', engine='python')
female_sole_pro.shape

(365, 4)

In [3]:
female_sole_pro

         Country         Income group  Year Share of female sole proprietors
0    Afghanistan           Low income  2014                            0.70%
1    Afghanistan           Low income  2015                            0.80%
2    Afghanistan           Low income  2016                            0.70%
3    Afghanistan           Low income  2017                            1.70%
4    Afghanistan           Low income  2018                            2.80%
..           ...                  ...   ...                              ...
360       Zambia  Lower middle income  2014                           22.20%
361       Zambia  Lower middle income  2015                           24.70%
362       Zambia  Lower middle income  2016                           25.10%
363       Zambia  Lower middle income  2017                           24.80%
364       Zambia  Lower middle income  2018                           24.70%

[365 rows x 4 columns]

In [5]:
female_sole_pro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           365 non-null    object
 1   Income group                      365 non-null    object
 2   Year                              365 non-null    int64
 3   Share of female sole proprietors  249 non-null    object
dtypes: int64(1), object(3)
memory usage: 11.5+ KB

In [4]:
female_sole_pro.isnull().sum()

Country                               0
Income group                          0
Year                                  0
Share of female sole proprietors    116
dtype: int64

In [6]:
female_sole_pro_drop = female_sole_pro.dropna()

In [7]:
female_sole_pro_drop

         Country         Income group  Year Share of female sole proprietors
0    Afghanistan           Low income  2014                            0.70%
1    Afghanistan           Low income  2015                            0.80%
2    Afghanistan           Low income  2016                            0.70%
3    Afghanistan           Low income  2017                            1.70%
4    Afghanistan           Low income  2018                            2.80%
..           ...                  ...   ...                              ...
360       Zambia  Lower middle income  2014                           22.20%
361       Zambia  Lower middle income  2015                           24.70%
362       Zambia  Lower middle income  2016                           25.10%
363       Zambia  Lower middle income  2017                           24.80%
364       Zambia  Lower middle income  2018                           24.70%

[249 rows x 4 columns]