In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
df_business = pd.read_csv('../data/Gender_Stats.csv', engine='python')
df_business.shape

(6580, 54)

In [3]:
df_business

,ï»¿Series Name,Series Code,Country Name,Country Code,1971 [YR1971],1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,"Cost of business start-up procedures, female (...",IC.REG.COST.PC.FE.ZS,Afghanistan,AFG,..,..,..,..,..,..,...,25.8,22.5,14.4,15.1,19,19.9,82.3,6.4,6.8,..
1,"Cost of business start-up procedures, female (...",IC.REG.COST.PC.FE.ZS,Albania,ALB,..,..,..,..,..,..,...,29.3,22.4,21.2,10.1,10.3,12.5,12,11.3,10.8,..
2,"Cost of business start-up procedures, female (...",IC.REG.COST.PC.FE.ZS,Algeria,DZA,..,..,..,..,..,..,...,12.1,12.1,12.4,11,10.9,11.1,12.5,11.8,11.3,..
3,"Cost of business start-up procedures, female (...",IC.REG.COST.PC.FE.ZS,American Samoa,ASM,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,"Cost of business start-up procedures, female (...",IC.REG.COST.PC.FE.ZS,Andorra,AND,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6578,Data from database: Gender Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6579,Last Updated: 03/22/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_business.transpose()

,0,1,2,3,4,5,6,7,8,9,...,6570,6571,6572,6573,6574,6575,6576,6577,6578,6579
ï»¿Series Name,"Cost of business start-up procedures, female (...","Cost of business start-up procedures, female (...","Cost of business start-up procedures, female (...","Cost of business start-up procedures, female (...","Cost of business start-up procedures, female (...","Cost of business start-up procedures, female (...","Cost of business start-up procedures, female (...","Cost of business start-up procedures, female (...","Cost of business start-up procedures, female (...","Cost of business start-up procedures, female (...",...,"Unemployment, male (% of male labor force) (na...","Unemployment, male (% of male labor force) (na...","Unemployment, male (% of male labor force) (na...","Unemployment, male (% of male labor force) (na...","Unemployment, male (% of male labor force) (na...",NaN,NaN,NaN,Data from database: Gender Statistics,Last Updated: 03/22/2021
Series Code,IC.REG.COST.PC.FE.ZS,IC.REG.COST.PC.FE.ZS,IC.REG.COST.PC.FE.ZS,IC.REG.COST.PC.FE.ZS,IC.REG.COST.PC.FE.ZS,IC.REG.COST.PC.FE.ZS,IC.REG.COST.PC.FE.ZS,IC.REG.COST.PC.FE.ZS,IC.REG.COST.PC.FE.ZS,IC.REG.COST.PC.FE.ZS,...,SL.UEM.TOTL.MA.NE.ZS,SL.UEM.TOTL.MA.NE.ZS,SL.UEM.TOTL.MA.NE.ZS,SL.UEM.TOTL.MA.NE.ZS,SL.UEM.TOTL.MA.NE.ZS,NaN,NaN,NaN,NaN,NaN
Country Name,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Arab World,Argentina,Armenia,...,West Bank and Gaza,World,"Yemen, Rep.",Zambia,Zimbabwe,NaN,NaN,NaN,NaN,NaN
Country Code,AFG,ALB,DZA,ASM,AND,AGO,ATG,ARB,ARG,ARM,...,PSE,WLD,YEM,ZMB,ZWE,NaN,NaN,NaN,NaN,NaN
1971 [YR1971],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1972 [YR1972],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1973 [YR1973],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1974 [YR1974],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1975 [YR1975],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1976 [YR1976],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1977 [YR1977],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1978 [YR1978],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1979 [YR1979],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1980 [YR1980],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1981 [YR1981],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1982 [YR1982],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,10.8000001907349,NaN,NaN,NaN,NaN,NaN
1983 [YR1983],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1984 [YR1984],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1985 [YR1985],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1986 [YR1986],..,..,..,..,..,..,..,..,..,..,...,..,..,..,8.69999980926514,..,NaN,NaN,NaN,NaN,NaN
1987 [YR1987],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,6.51000022888184,NaN,NaN,NaN,NaN,NaN
1988 [YR1988],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1989 [YR1989],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1990 [YR1990],..,..,..,..,..,..,..,..,..,..,...,..,..,..,14.0500001907349,..,NaN,NaN,NaN,NaN,NaN
1991 [YR1991],..,..,..,..,..,..,..,..,..,..,...,..,..,..,16.2999992370605,..,NaN,NaN,NaN,NaN,NaN
1992 [YR1992],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1993 [YR1993],..,..,..,..,..,..,..,..,..,..,...,..,..,..,18.8999996185303,..,NaN,NaN,NaN,NaN,NaN
1994 [YR1994],..,..,..,..,..,..,..,..,..,..,...,..,..,9.32999992370605,..,6.76000022888184,NaN,NaN,NaN,NaN,NaN
1995 [YR1995],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN
1996 [YR1996],..,..,..,..,..,..,..,..,..,..,...,..,..,..,14.8999996185303,..,NaN,NaN,NaN,NaN,NaN
1997 [YR1997],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,8.72999954223633,NaN,NaN,NaN,NaN,NaN
1998 [YR1998],..,..,..,..,..,..,..,..,..,..,...,..,..,..,13,..,NaN,NaN,NaN,NaN,NaN
1999 [YR1999],..,..,..,..,..,..,..,..,..,..,...,..,..,12.4799995422363,..,7.28000020980835,NaN,NaN,NaN,NaN,NaN
2000 [YR2000],..,..,..,..,..,..,..,..,..,..,...,11.0799999237061,..,..,14.1199998855591,..,NaN,NaN,NaN,NaN,NaN
2001 [YR2001],..,..,..,..,..,..,..,..,..,..,...,23.2600002288818,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2002 [YR2002],..,..,..,..,..,..,..,..,..,..,...,29.7800006866455,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2003 [YR2003],..,57.1,16.3,..,..,1316.4,..,70.0923076923077,13.5,8.4,...,24.4599990844727,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2004 [YR2004],72,32.3,14.6,..,..,910,..,70.00625,17.3,7,...,24.8500003814697,..,13,..,4.26000022888184,NaN,NaN,NaN,NaN,NaN
2005 [YR2005],75.2,31.3,12.4,..,..,653.8,12.5,84.7444444444445,15.9,6.1,...,20.6599998474121,..,11.9300003051758,..,..,NaN,NaN,NaN,NaN,NaN
2006 [YR2006],67.4,22.5,13.4,..,..,498.2,12,78.6166666666667,15.4,5.1,...,20.2399997711182,..,12.1300001144409,..,..,NaN,NaN,NaN,NaN,NaN
2007 [YR2007],84.6,46.1,13.2,..,..,343.7,11.3,60.815,13.6,4.8,...,19.1499996185303,..,11.8299999237061,..,..,NaN,NaN,NaN,NaN,NaN
2008 [YR2008],59.5,42.5,10.8,..,..,196.8,11.1,53.05,12.8,3.6,...,23.6700000762939,..,11.539999961853,8.14000034332275,..,NaN,NaN,NaN,NaN,NaN
2009 [YR2009],30.2,32.2,12.1,..,..,151.1,9.2,45.84,16.1,2.6,...,20.5300006866455,..,11.2700004577637,..,..,NaN,NaN,NaN,NaN,NaN
2010 [YR2010],26.7,31.8,12.9,..,..,226.6,10.5,48,20.7,3.1,...,21.3899993896484,..,12.4300003051758,..,..,NaN,NaN,NaN,NaN,NaN
2011 [YR2011],25.8,29.3,12.1,..,..,163.1,11.9,46.195,17.7,2.9,...,16.5,..,..,..,4.73000001907349,NaN,NaN,NaN,NaN,NaN
2012 [YR2012],22.5,22.4,12.1,..,..,143.1,10.4,38.4047619047619,15.4,2.5,...,17.6100006103516,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2013 [YR2013],14.4,21.2,12.4,..,..,130.1,10,35.0857142857143,23.2,1.1,...,18.1900005340576,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2014 [YR2014],15.1,10.1,11,..,..,118.8,9.7,32.8666666666667,17.7,1,...,19.2000007629395,..,12.3400001525879,..,4.3600001335144,NaN,NaN,NaN,NaN,NaN
2015 [YR2015],19,10.3,10.9,..,..,17,9.4,38.7863636363636,11.4,1,...,20.2000007629395,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2016 [YR2016],19.9,12.5,11.1,..,..,20.7,9.3,38.2818181818182,10.8,0.9,...,20.5799999237061,..,..,..,..,NaN,NaN,NaN,NaN,NaN
2017 [YR2017],82.3,12,12.5,..,..,17.4,9.1,33.6136363636364,10.4,0.9,...,21.5300006866455,..,..,10.8800001144409,..,NaN,NaN,NaN,NaN,NaN
2018 [YR2018],6.4,11.3,11.8,..,..,13.9,8.7,34.5681818181818,5.3,0.8,...,22.4200000762939,..,..,11.0600004196167,..,NaN,NaN,NaN,NaN,NaN
2019 [YR2019],6.8,10.8,11.3,..,..,11.1,8,27.7954545454546,5,0.8,...,21.3500003814697,..,..,..,16.0400009155273,NaN,NaN,NaN,NaN,NaN
2020 [YR2020],..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,NaN,NaN,NaN,NaN,NaN