In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
df_entre_periods = pd.read_csv('../data/entrepreneurship_periods.csv', engine='python')
df_entre_periods.shape

(9690, 15)

In [3]:
df_entre_periods.head()

,Unnamed: 0,Unnamed: 0.1,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period
0,0,0,AFG1971,Afghanistan,AFG,South Asia,Low income,1971,26.3,75,Yes,Yes,Yes,No,1971-1975
1,1,1,AFG1972,Afghanistan,AFG,South Asia,Low income,1972,26.3,75,Yes,Yes,Yes,No,1971-1975
2,2,2,AFG1973,Afghanistan,AFG,South Asia,Low income,1973,26.3,75,Yes,Yes,Yes,No,1971-1975
3,3,3,AFG1974,Afghanistan,AFG,South Asia,Low income,1974,26.3,75,Yes,Yes,Yes,No,1971-1975
4,4,4,AFG1975,Afghanistan,AFG,South Asia,Low income,1975,26.3,75,Yes,Yes,Yes,No,1971-1975

In [16]:
def law_count(counter):
    if (counter['sign_contract'] == "Yes") | (counter['register_business'] == "Yes") | (counter['open_bank_account'] == "Yes") | (counter['discrimination_credit_prohibited'] == "Yes") :
        return '4'
    if (counter['sign_contract'] == "Yes") | (counter['register_business'] == "No") | (counter['open_bank_account'] == "Yes") | (counter['discrimination_credit_prohibited'] == "Yes") :
        return '3'
    if (counter['sign_contract'] == "Yes") | (counter['register_business'] == "Yes") | (counter['open_bank_account'] == "No") | (counter['discrimination_credit_prohibited'] == "Yes") :
        return '3'
    if (counter['sign_contract'] == "Yes") | (counter['register_business'] == "Yes") | (counter['open_bank_account'] == "Yes") | (counter['discrimination_credit_prohibited'] == "No") :
        return '3'
    if (counter['sign_contract'] == "No") | (counter['register_business'] == "No") | (counter['open_bank_account'] == "Yes") | (counter['discrimination_credit_prohibited'] == "Yes") :
        return '2'
    if (counter['sign_contract'] == "No") | (counter['register_business'] == "Yes") | (counter['open_bank_account'] == "No") | (counter['discrimination_credit_prohibited'] == "Yes") :
        return '2'
    if (counter['sign_contract'] == "No") | (counter['register_business'] == "Yes") | (counter['open_bank_account'] == "Yes") | (counter['discrimination_credit_prohibited'] == "No") :
        return '2'
    else:
        return 'not 4'

df_entre_periods["law_count"] = df_entre_periods.apply(law_count, axis=1)

In [17]:
df_entre_periods

,Unnamed: 0,Unnamed: 0.1,ID,economy,wbcodev2,Region,Income_group,reportyr,WBL INDEX,ENTREPRENEURSHIP,sign_contract,register_business,open_bank_account,discrimination_credit_prohibited,period,law_count
0,0,0,AFG1971,Afghanistan,AFG,South Asia,Low income,1971,26.3,75,Yes,Yes,Yes,No,1971-1975,4
1,1,1,AFG1972,Afghanistan,AFG,South Asia,Low income,1972,26.3,75,Yes,Yes,Yes,No,1971-1975,4
2,2,2,AFG1973,Afghanistan,AFG,South Asia,Low income,1973,26.3,75,Yes,Yes,Yes,No,1971-1975,4
3,3,3,AFG1974,Afghanistan,AFG,South Asia,Low income,1974,26.3,75,Yes,Yes,Yes,No,1971-1975,4
4,4,4,AFG1975,Afghanistan,AFG,South Asia,Low income,1975,26.3,75,Yes,Yes,Yes,No,1971-1975,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9685,9685,9685,ZWE2017,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2017,86.9,100,Yes,Yes,Yes,Yes,2016-2021,4
9686,9686,9686,ZWE2018,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2018,86.9,100,Yes,Yes,Yes,Yes,2016-2021,4
9687,9687,9687,ZWE2019,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2019,86.9,100,Yes,Yes,Yes,Yes,2016-2021,4
9688,9688,9688,ZWE2020,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2020,86.9,100,Yes,Yes,Yes,Yes,2016-2021,4
9689,9689,9689,ZWE2021,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2021,86.9,100,Yes,Yes,Yes,Yes,2016-2021,4

In [20]:
df_entre_periods.to_csv('entrepreneurship_law_count.csv')

In [19]:
#def law_count(counter):
    #if (counter['sign_contract'] == "Yes") | (counter['register_business'] == "Yes") | (counter['open_bank_account'] == "Yes") | (counter['discrimination_credit_prohibited'] == "Yes") :
        #return '4'
    #else:
        #return 'not 4'

#df_entre_periods["law_count"] = df_entre_periods.apply(law_count, axis=1)